
<% if(locals.errorMessage)  {%>
    <div class="container">
        <div class="alert-sm alert-danger" style="padding: 10px;">
            <h4> <%= errorMessage  %></h4>
        </div>
    </div>
   
<% } %>    
